body{
    background: #A9A9A9;
}

.box{
    float: left;
    background: #101010;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #FFFFF0;
    border-right: 5px solid #00BFFF;
    position: fixed;
}

.box img{
    width: 80px;
    float: left;
}

.box .logo{
    font-size: 30px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
    top: -5px;
}

.box h3{
    margin-top: 50px;
    font-size: 28px;
}

.box ul {list-style: none;}

.box ul li{
    color: #FFFFF0;
    display: block;
    margin-top: 20px;
    font-size: 20px;
    transition: transform .6s ease;
}

.box ul li:hover, ul a:hover{
    color: #00FA9A;
    text-decoration: none;
    transform: scale(1.05);
}

.alert-warning{
    float: left;
    clear: both;
    width: 500px;
    margin-left: 105px;
    margin-top: 20px;
    text-align: center;
}

main .features{
    float: center;
    color: #101010;
    margin-top: 50px;
    text-align: center;
    width: 50%;
    margin: auto;
}

main .features p{text-align: center;}
main .features h1{font-size: 50px; text-align-center;}

form{
    margin-left: auto;
    width: 480px;
    margin-left: 130px;
    margin-top: -10px;
}

