{% extends 'main/layout.html' %}

{% block title %}News in site{% endblock %}

{% block content %}
    <div class="features">
        <h1>News in site</h1>
            {% if news %}
            {% for obj in news %}
                <div class="alert alert-warning">
                    <h3>{{ obj.title }}</h3>
                    <p>{{ obj.anons }}</p>
                    <a href="{% url 'news-detail' obj.id %}" class="btn btn-warning">Full text</a>
                </div>
            {% endfor %}
        {% else %}
            <p>Nothing here!</p>
        {% endif %}
    </div>
{% endblock %}
